@page "/shipments/crud/{ShipmentId:int?}"
@using WestWindSystem.BLL
@using WestWindSystem.Entities
@inject ShipmentServices CurrentShipmentService
@inject OrderServices CurrentOrderService
@inject ShipperServices CurrentShipperService
@inject IJSRuntime CurrentJSRuntime
@inject NavigationManager CurrentNavigationManager

<PageTitle>Manage Shipments</PageTitle>

<h3>Manage Shipments</h3>

@if (!string.IsNullOrEmpty(feedback))
{
    <div class="alert alert-info mt-3">
        @feedback
    </div>
}

<EditForm Model="currentShipment" OnValidSubmit="SaveAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label class="form-label" for="OrderID">OrderID</label>
        <InputSelect id="OrderID" class="form-select" @bind-Value="currentShipment.OrderID">
            <option value="0">-- select a order --</option>
            @foreach (var currentOrder in orders)
            {
                <option value="@currentOrder.OrderID">@currentOrder.CustomerID - @currentOrder.RequiredDate?.ToString("yyyy-MM-dd")</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => currentShipment.OrderID)" />
    </div>

    <div class="mb-3">
        <label class="form-label">Shipped Date</label>
        <InputDate class="form-control"
                     @bind-Value="currentShipment.ShippedDate" />
    </div>

    <div class="mb-3">
        <label class="form-label" for="ShipVia">ShipperID</label>
        <InputSelect id="ShipVia" class="form-select" @bind-Value="currentShipment.ShipVia">
            <option value="0">-- select a shipper --</option>
            @foreach(var currentShipper in shippers)
            {
                <option value="@currentShipper.ShipperID">@currentShipper.CompanyName</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => currentShipment.ShipVia)" />
    </div>

    <div class="mb-3">
        <label class="form-label">Freight Charge</label>
        <InputNumber class="form-control"
                     @bind-Value="currentShipment.FreightCharge" />
    </div>

    <button type="submit" class="btn btn-primary me-2">
        @(_editMode ? "Save Changes" : "Create")
    </button>

    @if (_editMode)
    {
        <button type="button" 
            class="btn btn-danger me-2" 
            @onclick="DeleteShipmentAsync">
            Delete
        </button>
        <button type="button" 
            class="btn btn-secondary me-2" 
            @onclick="CancelEdit">
            Cancel
        </button>
    }



</EditForm>

@code {
    [Parameter]
    public int? ShipmentId { get; set; }

    private bool _editMode => ShipmentId.HasValue && ShipmentId.Value > 0;

    private Shipment currentShipment = new();
    private string feedback = string.Empty;

    private List<Order> orders = new();
    private List<Shipper> shippers = new();

    protected override async Task OnInitializedAsync()
    {
        try 
        {
            orders = await CurrentOrderService.FindLast100UnshippedOrders();
            shippers = await CurrentShipperService.GetAllShippers();
            if (_editMode)
            {
                var existingShipment = await CurrentShipmentService.FindShipmentByShipmentId(ShipmentId!.Value);
                if (existingShipment is null)
                { 
                    feedback = $"Shipment {ShipmentId.Value} was not found.";
                }
                else
                {
                    currentShipment = existingShipment;
                }
            } 
            else
            {
                //currentShipment.ShippedDate = DateTime.Today;
                currentShipment = new Shipment
                    {
                        ShippedDate = DateTime.Today
                    };

            }

        }
        catch(Exception ex)
        {

        }
    }

    private async Task SaveAsync()
    {
        try 
        {
            if (_editMode)
            {
                await CurrentShipmentService.UpdateShipmentAsync(currentShipment);
                feedback = $"Shipment updated successfully.";
            }
            else
            {
                await CurrentShipmentService.AddShipmentAsync(currentShipment);
                feedback = $"Shipment created successfully with ID {currentShipment.ShipmentID}";
                currentShipment = new();
            }

        }
        catch(Exception ex)
        {
            feedback = $"You caused this error: {GetInnerException(ex).Message}";
        }
    }

    private async Task DeleteShipmentAsync()
    {
        bool confirmed = await CurrentJSRuntime.InvokeAsync<bool>(
                   "confirm", "Are you sure you want to delete this shipment?");
        if (confirmed)
        {
            try
            {
                if (_editMode)
                {
                    await CurrentShipmentService.DeleteShipmentAsync(ShipmentId!.Value);
                }
                CurrentNavigationManager.NavigateTo("/shipments/query");
            }
            catch(Exception ex)
            {
                
            }

        }
    }

    private async Task CancelEdit()
    {
        bool confirmed = await CurrentJSRuntime.InvokeAsync<bool>(
            "confirm", "Are you sure you want to cancel editing this shipment and navigate back to query page?");
        if (confirmed)
        {
            CurrentNavigationManager.NavigateTo("/shipments/query");
        }
    }

    private Exception GetInnerException(Exception ex)
    {
        while (ex.InnerException != null)
        {
            ex = ex.InnerException;
        }
        return ex;
    }
}
